* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  color: #FBF5F8;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  background-color: #161616;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

section {
  margin-bottom: 200px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #161616;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  text-wrap: nowrap;
}

.header__link {
  font-size: 1em;
  font-weight: 700;
}

.header__tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header__switcher {
  background-color: #FBF5F8;
  width: 110px;
  height: 45px;
  display: inline-block;
  border-radius: 25px;
  overflow: hidden;
}

.switch {
  background-color: #C75E90;
  display: inline-block;
  width: 60%;
  height: 100%;
  border-radius: 25px;
  transition: transform 0.1s;
  position: relative;
}

.switch::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 23px;
  top: 11px;
  left: calc(50% - 11px);
  background: url(/img/shape.svg);
  background-position: center;
  background-size: cover;
}

.switch::before {
  display: none;
  content: "";
  position: absolute;
  width: 22px;
  height: 23px;
  top: 11px;
  left: calc(50% - 11px);
  background: url(/img/sun.svg);
  background-position: center;
  background-size: cover;
}

.moonsun:checked + .header__switcher {
  background-color: #C75E90;
}
.moonsun:checked + .header__switcher .switch {
  transform: translateX(67%);
  background-color: #FBF5F8;
}
.moonsun:checked + .header__switcher .switch::after {
  display: none;
}
.moonsun:checked + .header__switcher .switch::before {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p {
  color: grey;
}

.room__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room__ndtitle {
  font-size: 1em;
  position: relative;
}

.room__ndtitle::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(50% - 7px);
  left: -64px;
  background: url(/ses.svg) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #C75E90;
  transform: rotate(180deg);
  border-radius: 50%;
}

.room__ntitle {
  font-size: 18px;
  position: relative;
}

.room__ntitle::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(50% - 16px);
  left: -64px;
  background: url(/shape.svg) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #C75E90;
  border-radius: 50%;
}

.room__text {
  color: white;
}

.title {
  color: gray;
}

.title__two {
  font-size: 36px;
}

.title__three {
  font-size: 14px;
}

.care-book-now-d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #C75E90;
  width: 312px;
  height: 476px;
  border-radius: 40px;
}

.care__info-Dedicated {
  font-weight: 700;
  letter-spacing: 3px;
  width: 300px;
  height: 37px;
  align-items: center;
  text-align: center;
}

.care-book-now-Purr {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.book-now__tx {
  color: white;
  align-items: center;
  text-align: center;
}

.book-now__btn {
  display: flex;
  width: 236px;
  height: 45px;
  border-radius: 220px;
  text-align: center;
  align-items: center;
  background-color: #8E345F;
  justify-content: center;
}

.bi-arrow-right-short {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 24px;
  height: 24px;
  color: #fff;
}

.bool-now-btn__tx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

input, select {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  background: #2c2c2c;
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
}

.btn {
  width: 236px;
  height: 56px;
  border-radius: 25px;
  background-color: #C75E90;
  border: none;
}

.type {
  display: flex;
  justify-content: center;
}

.form1 {
  font-size: 1em;
  position: relative;
}

.form1::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(50% - 7px);
  left: -64px;
  background: url(/ses.svg) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #C75E90;
  transform: rotate(180deg);
  border-radius: 50%;
}

.btn {
  background-color: #C75E90;
  border-radius: 25px;
  border: 1px solid #C75E90;
  padding: 14px 48px;
  text-transform: uppercase;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p {
  color: grey;
}/*# sourceMappingURL=style.css.map */