.care-book-now-d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #C75E90;
    width: 312px;
    height: 476px;
    border-radius: 40px;

}
.care__info-Dedicated {
    font-weight: 700;
    letter-spacing: 3px;
    width: 300px;
    height: 37px;
    align-items: center;
    text-align: center;

    
}
.care-book-now-Purr {
    color: #fff;
    font-size: 36px;
    font-weight: 700;

}
.book-now__tx {
    color: white;
    align-items: center;
    text-align: center;

}
.book-now__btn {
    display: flex;
    width: 236px;
    height: 45px;
    border-radius: 220px;
    
    text-align: center;
    align-items: center;
    background-color: #8E345F;
    justify-content: center;

}

.bi-arrow-right-short {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 24px;
    height: 24px;
    color: #fff;

}

.bool-now-btn__tx {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 12px;
    font-weight: 700;    

}





