*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.celebrate{
    width: 1363px;
height: 697px;
top: 4245px;
left: 40px;
gap: 0px;
opacity: 0px;

}
.text{
 
    width: 439px;
height: 18px;
top: 4245px;
left: 507px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.36em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #696969;
margin-bottom: 23px;
}
.adv-text{
    text-align: center;
}
.Celebrate-Neko{
    margin-bottom: 18px;
}
.advertisement{
display: flex;
justify-content: center;
}