.room__wrapper {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  
}
.room__ndtitle {
  font-size: 1em;
  position: relative;
}
.room__ndtitle::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(50% - 7px);
  left: -64px;
  background: url(/ses.svg) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: $mainclr;
  transform: rotate(180deg);
  border-radius: 50%;
}
.room__ntitle {
  font-size: 18px;
  position: relative;
}
.room__ntitle::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(50% - 16px);
  left: -64px;
  background: url(/shape.svg) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: $mainclr;
  border-radius: 50%;
  
}
.room__text{
  color: white;
}
.title{
  color: gray;
  
}
.title__two{
  font-size: 36px;
}
.title__three{
  font-size: 14px;
}